@page
@model IndexModel

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        </form>
    </div>
</div>



<div class="login-center-box">
    <div class="row">
        <div class="col-md-6">
            <h1>Account Information</h1>
            <form method="post">
                <!-- Existing information display here, possibly with input fields to edit -->
                <div class="mb-3">
                    <label asp-for="Username" class="form-label">Email</label>
                    <input asp-for="Username" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Gender</label>
                    <div class="radio-buttons">
                        <input type="radio" id="gender_male" value="Male" class="form-check-input" />
                        <label class="form-check-label" for="gender_male">Male</label>
                        <input type="radio" id="gender_female" value="Female" class="form-check-input" />
                        <label class="form-check-label" for="gender_female">Female</label>
                    </div>
                    <span class="text-danger"></span>
                </div>
                <br/>
                <div class="form-floating mb-3">
                    <label class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" aria-required="true" />
                    <span class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Country</label>
                    <input class="form-control" />
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-primary">Update Information</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}