@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "Recovery codes";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<div class="container mt-5">
    <div class="text-center">
        <partial name="_StatusMessage" for="StatusMessage" />
        <h3 class="display-4">@ViewData["Title"]</h3>
    </div>
    <div class="alert alert-warning" role="alert">
        <p>
            <strong>Put these codes in a safe place.</strong>
        </p>
        <p>
            If you lose your device and don't have the recovery codes, you will lose access to your account.
        </p>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-md-8">
            <div class="bg-light border rounded p-3">
                @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
                {
                    <span class="badge bg-secondary m-1 p-2 fs-6">@Model.RecoveryCodes[row]</span>
                    @if (row + 1 < Model.RecoveryCodes.Length)
                    {
                        <span class="badge bg-secondary m-1 p-2 fs-6">@Model.RecoveryCodes[row + 1]</span>
                    }
                    <br />
                }
            </div>
        </div>
    </div>
</div>
