@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-container">
    <div class="left-column">
        <p>Making the world a happier place, ONE brick at a time!</p>
        <h2>Total Bricks Sold: 347,000</h2>
        <p>We love selling Legos -- not your data, check out our <a href="@Url.Action("Privacy", "Home")">privacy policy</a>.</p>
    </div>
    <div class="right-column">
        <h1>We love Creativity</h1>
        <h1>We love Ingenuity</h1>
        <h1>We love Lego</h1>
        <p>Here at AuroraBrix, we are your one stop shop for everything Lego! We sell the highest quality Lego sets for the best price. We ensure fast and friendly service and believe that YOU are always right! That is why we are always happy to uphold our money back guarantee for any return item -- no questions asked!</p>
    </div>
</div>
