@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* The div that displays some info about AuroraBrix *@
<div class="centered-about">
    <h2>Making the world a happier place, one brick at a time!</h2>
    <h1>Over 65 million bricks sold!</h1>
    <p>We Love Creativity.</p>
    <p>We Love Ingenuity.</p>
    <p>We Love Lego.</p>
    <p>
        Here at AuroraBrix, we are your one-stop shop for everything Lego! We sell the highest quality Lego sets for the best price. We ensure fast and friendly service and believe that YOU are always right! That is why we are always happy to uphold our money-back guarantee for any return item – no questions asked!
    </p>
</div>
