@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-container">
    <div class="login-form">
        <h2>Sign in</h2>
        <p>Build your dreams a brick at a time</p>

        <form action="#" method="post">
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn-signin">User Sign in</button>
            </div>

            <div class="form-group">
                <p>or</p>
            </div>

            <div class="form-group">
                <button class="btn-google">Sign in with Google</button>
            </div>
        </form>

        <div class="form-group">
            <p>New to AuroraBrix? <a href="#" class="signup-link">Join now</a></p>
        </div>
    </div>
</div>
