@{
    ViewData["Title"] = "Order Success";
}


@{
    var buttonText = ViewBag.Prediction == "Valid" ? "Continue Shopping" : "Review Order";
    var message = ViewBag.Prediction == "Valid"
                  ? "Thank you for your purchase! Your order has been successfully placed."
                  : "Order Submitted. Your order will be reviewed by our specialist.";
}

<div class="order-success-popup">
    <h1>Order Success</h1>
    <p>@message</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">@buttonText</a>
</div>
