@{
    ViewData["Title"] = "Order Success";
}


@if (ViewBag.Prediction == "Valid")
{
    <h2>Order Success</h2>
    <div class="container">
        <p>Thank you for your purchase! Your order has been successfully placed.</p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Continue Shopping</a>
    </div>


}
else
{
        <h2>Order Received</h2>
        <div class="container">
            <p>Order Summitted. Your order will be reviewed by our specialist.</p>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Continue Shopping</a>
        </div>
}


