@{
    ViewData["Title"] = "Order Success";
}

<div class="container">
    <h2>Order Success</h2>
    <p>Thank you for your purchase! Your order has been successfully placed.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Continue Shopping</a>
</div>


<div class="container">
    <h2>Order Received</h2>
    <p>Thank you for your purchase! Your order will be reviewed by our.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Continue Shopping</a>
</div>