@model _2AuthenticAPP.Models.Order

@{
    ViewData["Title"] = "Order Details";
}

<div class="container">
    <h2>Order Details</h2>

    <div class="order-info">
        <p>Order ID: @Model.TransactionId</p>
        <p>Date: @Model.Date</p>
        <p>Total Amount: @Model.Amount.Value.ToString("C")</p>
    </div>
</div>
