@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1 class="display-4">@ViewData["Title"]</h1>
                <hr class="my-4">
                <p class="lead">
                    You have requested to log in with a recovery code. This login will not be remembered until you provide
                    an authenticator app code at login or disable 2FA and log in again.
                </p>
            </div>

            <div class="card p-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="Recovery Code" />
                        <label asp-for="Input.RecoveryCode">Recovery Code</label>
                        <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary w-100">Log in</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}