.login-center-box {
    max-width: 600px; /* Limiting the maximum width */
    margin: 2rem auto; /* Adding top margin and centering */
    padding: 2rem;
    background: #fff; /* Optional: Background color for the form area */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Adding some shadow for depth */
    border-radius: 8px; /* Optional: Rounded corners for the form area */
}

    .login-center-box h1 {
        font-size: 2rem; /* Larger font size for the title */
        margin-bottom: 1rem;
    }

    .login-center-box .form-control {
        font-size: 1rem; /* Adjust font size for inputs */
        padding: .75rem; /* Adjust padding for inputs */
        margin-bottom: 1rem; /* Space between input fields */
    }

    .login-center-box .form-label {
        margin-bottom: .5rem;
        font-size: 1rem; /* Adjust label font size if needed */
        text-align: left; /* Align text to the left */
    }

    .login-center-box #login-submit {
        background-color: #17C144; /* Green background color for the Log In button */
        color: white; /* White text color for the Log In button */
        border: none; /* No border for the Log In button */
        padding: 10px 15px;
        font-size: 1rem;
        border-radius: 5px; /* Rounded corners for the Log In button */
        transition: background-color 0.3s; /* Smooth transition for hover effect */
    }

        .login-center-box #login-submit:hover {
            background-color: #159a38; /* Slightly darker green on hover for the Log In button */
        }

        .login-center-box #login-submit:active {
            background-color: #0e7a2e; /* Even darker green when the button is clicked for the Log In button */
        }

    .login-center-box .google-btn {
        /* Styles for Google button if needed */
    }

    /* Additional styling for links */
    .login-center-box a {
        color: #0056b3;
        text-decoration: none;
    }

        .login-center-box a:hover {
            text-decoration: underline;
        }

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
    .login-center-box {
        width: 90%; /* Allow the box to be a bit wider on small screens */
        margin: 1rem auto; /* Less margin on small screens */
        padding: 1rem; /* Less padding on small screens */
    }
}
